  <h1>Analizador léxico de código Javascript</h1>
  <p>
    <nav>
      <a href="http://p4analisislexico.herokuapp.com/tests" class="mylink">Pruebas</a>
      <a href="https://github.com/alu4073/P4AnalizadorLexico" class="mylink">Repositorio en GitHub</a>
    </nav>
  </p>
  <link rel="shortcut icon" href="faviconStatic.ico" type="image/x-icon">
  <link rel="icon" href="faviconAnim.ico" type="image/x-icon">
  <script>
    function dump(fileName) {
       $.get(fileName, function (data) {
          $("#INPUT").val(data);
       });
    };
  </script> 
  <p><br>
  <h2>·Elija un fichero de prueba o introduzca el código que desea analizar:</h2>
  </p>
	<nav><div id = "ficheros" style="display:inline">
        <button id ="input1" type="button" onclick="dump('input1.txt');" class="mylink">Fichero de prueba 1</button>
        <button id ="input2"  type="button" onclick="dump('input2.txt');" class="mylink">Fichero de prueba 2</button>
        <button id ="inputError"  type="button" onclick="dump('inputError.txt');" class="mylink">Fichero con error</button>
        </div>
		<input id="PARSE" value=Analizar type=button class="mylink">
	</nav>

	<div id = "io">
	   <textarea autofocus id="INPUT">
     	
  	   </textarea>
   <pre id=OUTPUT class = "hidden"></pre>


