<!DOCTYPE html>
<html>
<head>
   <title>Analizador léxico de código Javascript</title>
   <link href="global.css" rel="stylesheet" type="text/css">
   <script src="parse.js"></script>
   <script src="tokens.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

   <script src="main.js"></script>
</head>
<body>
	<%=yield%>
</body>
</html>
